* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: monospace;
  font-weight: 200;
  color: white;
  }

body {
  background-color: black;
  /* padding: 20px; */
}

.center-flex{
display: flex;
flex-direction: row;
}

.main-content{

}
.column-flex{
  display: flex;
  flex-direction: column;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: stretch; /* ensures children match height of tallest item */
    width: 100%;
    box-sizing: border-box;
  }

  #ascii-logo {
    white-space: pre;
    text-align: center;
    min-width: fit-content;
  }

  .left-box{
    text-align: right;
  }
  .left-box,
  .right-box {
    color: #555555;
    flex: 1;
  }
